<nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">


    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
       
        <ul class="navbar-nav mr-auto nav-pills">
          <li class="nav-item" routerLinkActive="active-link">
            <a class="nav-link" routerLink="/">User List</a>
          </li>
          <li class="nav-item" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active-link">
            <a class="nav-link" routerLink="/userDetail">User Detail</a>
          </li>
         </ul>
       >
      </div>
</nav>